<div class="name" data-fullName></div>
<div data-private></div>
<div>
	Language:
	<span data-language></span>
</div>
<div data-description></div>
<div class="data-block">
	<div class="pull-left">
		Created:
		<span data-created-date></span>
	</div>
	<div class="pull-right">
		Updated:
		<span data-updated-date></span>
	</div>
	<button data-like data-action="like" class="btn btn-xs btn-success like">Like</button>
	<button data-dislike data-action="dislike" class="btn btn-xs btn-danger dislike">Dislike</button>
</div>